# Global ignore rules

# Linux and KDE ignore rules
**/.directory

# LaTeX products ignore rules
**/*.log
**/*.aux
**/*.acr
**/*.acn
**/*.alg
**/*.nav
**/*.out
**/*.snm
**/*.toc
**/*.1
**/*.mp
**/*.t1
**/*.swp

# Kile files
**/*.kilepr
**/*.backup


